:root
	--brands-borc: #f8f8fd
	--brands-brad: 50px
	--brands-bw: 8px
	@media (max-width: $m)
		--brands-p: 18px
	@media (min-width: $d)
		--brands-p: 30px
	@media (min-width: $dxl)
		--brands-p: 50px
