.brands__links
	padding-top: var(--psecs)
	column-gap: var(--psec)
	row-gap: var(--psecs)
	@media (min-width: $dxl)
		column-gap: 120px

.brands__link.extra-padding
	@media (min-width: $dxl)
		padding-left: var(--psecs)
		padding-right: var(--psecs)
