.brands
	padding-bottom: 0

.brands__wraper
	position: relative

	padding-top: var(--psecs)
	padding-bottom: var(--psecs)
	padding-left: var(--brands-p)
	padding-right: var(--brands-p)

	border: var(--brands-bw) solid var(--brands-borc)
	border-radius: var(--brands-brad)
