.cooperation
	padding-top: var(--psecs)
	padding-bottom: var(--psecs)
	text-align: center
	background-color: $c
	color: #000000
	@media (max-width: $m)
		padding: 40px 20px

.template-heading
	max-width: 1050px
	margin-left: auto
	margin-right: auto
	line-height: 68px
	@media (max-width: $m)
		line-height: 30px

.cooperation__text
	margin-bottom: 40px
	font-family: "stolzl_book"
