.description
	padding-top: var(--psecl)
	padding-bottom: var(--psecl)
	overflow: hidden

.description__heading
	text-align: center
	margin-bottom: var(--psec)

.description__content
	@media (min-width: $d)
		column-gap: var(--psec)

.description__col
	@media (min-width: $d)
		width: calc(50% - 0.5 * var(--psec))
	@media (max-width: $m)
		width: 100%

.description__img--1
	@extend .z1
	margin-top: var(--psecs)
	margin-bottom: var(--psecs)
	margin-left: calc(-0.6 * var(--psec))
	width: calc(100% + 1.2 * var(--psec))

.description__img--2
	@extend .right
	@extend .z2
	width: 70%
	margin-top: -15%
	margin-bottom: var(--psec)
	margin-right: calc(-0.6 * var(--psec))

.description__img--3
	@extend .left
	@extend .z3
	width: 70%
