.description
	overflow: hidden
	@media (min-width: $d)
		padding-top: var(--psecl)
		padding-bottom: var(--psecl)
	@media (max-width: $m)
		.btn
			margin-top: var(--psec)

.description__heading
	margin-left: auto
	margin-right: auto
	margin-bottom: var(--psec)
	max-width: 950px
	text-align: center

.description__content
	@media (min-width: $d)
		column-gap: var(--psec)

.description__col
	@media (min-width: $d)
		width: calc(50% - 0.5 * var(--psec))
	@media (max-width: $m)
		width: 100%
		.contrast
			font-size: var(--fzh3)

.description__img--1
	@extend .z1
	margin-top: var(--psecs)
	margin-bottom: var(--psecs)
	@media (min-width: $d)
		margin-left: calc(-0.8 * var(--psec))
		width: calc(100% + 0.8 * var(--psec))
	@media (max-width: $m)
		width: 100%

.description__img--2
	@extend .right
	@extend .z2
	@media (min-width: $d)
		width: 60%
		margin-top: -25%
		margin-bottom: var(--psec)
		margin-right: calc(-0.4 * var(--psec))
	@media (max-width: $m)
		width: 55%
		margin-top: -60%
		margin-bottom: var(--psecs)
		z-index: 5

.description__img--3
	@extend .left
	@extend .z3
	@media (min-width: $d)
		width: 65%
	@media (max-width: $m)
		width: 55%
