.advantages__heading
	margin-bottom: var(--psec)
	padding-top: var(--psec)
	span
		text-align: center
		width: 100%

.advantages__items
	gap: var(--psec)

.advantages__item
	text-align: center
	@media (min-width: $d)
		max-width: 330px
		width: calc(33% - (2 / 3) * var(--psec))
	@media (max-width: $dl)
		width: calc(50% - (1 / 2) * var(--psec))
	@media (max-width: $m)
		width: 100%
		max-width: 400px
		margin-left: auto
		margin-right: auto
