.header__menu
	width: 100%
	@media (min-width: $d)
		padding-top: var(--psecs)
		padding-bottom: var(--psecs)
	@media (max-width: $m)
		padding-top: var(--psec)
		padding-bottom: var(--psec)

.header__menu__item.__country span
	position: relative

	padding-right: 5px
	padding-left: 12px
	padding-top: 1px

	color: $c2
	&:hover
		color: $c2a
		&::before
			border-color: $c2a
	&::before
		position: absolute
		content: ''

		border: 2px solid $c2
		border-radius: 50%
		@media (min-width: $d)
			top: -8px
			left: 1px
			width: 40px
			height: 40px
		@media (max-width: $m)
			top: -4px
			left: 7px
			width: 30px
			height: 30px

.header__menu__item
	&:not(.__logo)
		padding-left: var(--pl)
	&:not(.__country)
		padding-right: 24px
