//
// color 
//
$c: #f6522a
$ca: #ff3200

$c2: #60e3ff
$c2a: #caf6ff

// template
$bc: #ffffff
$fc: #000000

$fc2: #ffffff

// borders
$bw: 2px

// grad
$degf: 150deg

$fcgin: $c
$fcgto: #8b6bab

$degb: 135deg

$bcgin: #2871f9
$bcgininto: #2060df
$bcgintoto: #5c27d0
$bcgto: #6717cd

$bcg2: #091327

// mobile - desktop
$m: 768px
$d: $m + 1px

//
// шрифты
//

// d
:root
	@media (min-width: $d)
		--fzh1: 64px
		--lhh1: 74px
		--fzh2: 50px
		--fzh3: 30px

		--fzl: 36px
		--fz: 24px
		--lh: 40px

		--fzmenu: 16px
		--fzfooter: 20px
		--fzbtn: 18px
		--lhbtn: 22px
	@media (max-width: $m)
		--fzh1: 30px
		--lhh1: 34px
		--fzh2: 30px
		--fzh3: 18px

		--fzl: 24px
		--fz: 14px
		--lh: 20px

		--fzmenu: 16px
		--fzfooter: 20px
		--fzbtn: 11px
		--lhbtn: 13px

//
// отступы 
//

:root
	// basic
	--pl: 30px
	@media (min-width: $d)
		--p: 12px
	@media (max-width: $m)
		--p: 8px

	// section
	@media (min-width: $d)
		--psecs: 50px
		--psec: 100px
		--psecl: 150px
	@media (max-width: $m)
		--psecs: 25px
		--psec: 50px
		--psecl: 75px

//
// desktop size
//
$dxl: 1200px
$dl: 992px
$dm: 768px
$ds: 576px
$dxs: 450px

:root
	--dxl: 1200px
	--dl: 992px
	--dm: 768px
	--ds: 576px
	--dxs: 450px

// max-width
:root
	--mw: 1200px
