:root
	@media (min-width: $d)
		--btn-height: 60px
	@media (max-width: $m)
		--btn-height: 45px

.btn
	display: inline-block

	border-radius: calc(0.5 *var(--btn-height))
	font-family: "stolzl_book"
	font-weight: 700
	height: var(--btn-height)
	font-size: var(--fzbtn)
	line-height: var(--lhbtn)
	&
		color: $c
		border: $bw solid $c
		&:hover
			color: $fcgto
			border-color: $fcgto
	&.btn--cntrl
		color: $c2
		border: $bw solid $c2
		&:hover
			color: $c2a
			border-color: $c2a
	@media (min-width: $d)
		padding: 19px 40px 18px 40px
	@media (max-width: $m)
		padding: 14px 25px 15px 25px
