// background-image
.bi
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

.d
	@media (max-width: $m)
		display: none
.m
	@media (min-width: $d)
		display: none
