h1, h2, h3,
.h1, .h2, .h3
	margin-top: 0
	font-family: "stolzl_medium"

h1,
.h1
	font-size: var(--fzh1)
	line-height: var(--lhh1)
	@media (min-width: $d)
		margin-bottom: 60px
	@media (max-width: $m)
		margin-bottom: 40px

h2,
.h2
	font-size: var(--fzh2)
	margin-bottom: var(--psecinner)

h3,
.h3
	font-size: var(--fzh3)
	margin-bottom: var(--psecinner)
