.footer
	padding-top: calc(var(--psecs) - var(--p))
	padding-bottom: calc(var(--psecs) - var(--p))
	font-family: "stolzl_book"
	font-size: var(--fzfooter)
	a
		@media (min-width: $d)
			margin-left: var(--psecs)
